@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width:100vw
}
.round{
    @apply rounded-md w-8 cursor-pointer
}
.desk{
    @apply w-full
}

@media only screen and (max-width: 1024px) {
    .round{
        @apply rounded w-10
    }
    .desk{
        @apply w-full
    }
}
@media only screen and (max-width: 991px) {
    .round{
        @apply rounded w-9
    }
    .desk{
        @apply w-full
    }
}
@media only screen and (max-width: 450px) {
    .round{
        @apply rounded w-8
    }
    .desk{
        @apply w-full
    }
}
